/* Styles go here. */

/* html,
body {
  margin: 0;
  padding: 0;
} */

:root {
  --color0: rgb(238, 149, 77); 
  --color1: rgb(230, 228, 225);
  --color2: rgb(94, 94, 60);
  /* rgb(255, 117, 67) */
}

@font-face {
  font-family: BlackHanSans;
  src: url('assets/BlackHanSans-Regular.ttf');
}
/* Styles go here. */


/* Custom */

#create, #join-code, #join, #bid-code, #bid, #draw, #check {position: fixed; color: white; background-color: #333; width:250px;}

#bid-code {bottom: 140px;}
#bid {bottom: 120px;}
#check {bottom: 100px;}
#draw {bottom: 80px;}
#create {bottom: 60px;}
#join-code {bottom: 20px;}
#join {bottom: 0;}

.cards {
  display: flex;
  height:100vh;
  justify-content: center;
  /* PC: space-evenly; */
  align-items: center;
}
.cards > div {
  display: flex;
  height:110px;
  width: 86px;
  padding: .5em 0;
  margin: .6em;
  background-color: transparent;
  color: #222;
  /* border: #eed 1px solid; */
  border: #222 1px solid;
  border-radius: 9px;
  /* justify-content: center;
  align-items: center; */
}
.card .label {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.card .label > span {
  margin: 0 .5em;
}
/* .cards .label > span {} */
.red {color:#b12727}
/* */
.lists { display: flex}
.lists select {
  background-color: transparent;
  color: white;
  scroll-behavior: smooth;
  font-size: 1.2rem;
  overflow-y: hidden;
  padding: 1.2rem;
  height:100%
}
.lists select option {
  padding: .2rem;
}
.lists select option:nth-child(n + 2) {
  border-top:#444 solid 1px;
}
.lists select option:nth-child(2n) {
  border-top:#666 solid 1px;
}
.lists select:nth-child(n + 2) {
  font-family: monospace;
  font-size: 1.2rem;
  min-width: 8rem;
}

font {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color0);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  touch-action: none;
}

section#ui {
  position:absolute;
  width: 100%;
  height: 100%;
}

.up {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.dn {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.btn {
  cursor:pointer;
}

.btns-menu {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  flex-direction: row; /* column for pc */
  align-items: flex-start;
}

.btns-menu .btn {
  height: 5vh;
  /* width: 5vh; */
  max-height: 40px;
  max-width: 40px;
  font-size: .6rem;
  color: var(--color0);
  margin: 5px;
  background-color: #0000;
  border-width: 0;
}

#menu {margin: 10px 12px;padding: 10px 10px;font-size: 2rem;height:100%}
#online {display: flex; margin: 10px 12px;padding: 0 11px;flex-direction: column;align-content: center;}
#online span { margin-left: 2px; margin-bottom: -2px; font-size: 1.5rem}
.middle { margin-top: 1rem}

.time {
  display: flex;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  /* margin-bottom: auto;
  margin-top: auto; */
  justify-content: center;
}

.last {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.last span i { font-size: 2.4rem; font-weight: 900; }

.last span span { padding: .3rem;}

.last p:first-child {
  margin-block-start: .4rem;
  margin-block-end: .8rem;
  font-size: .7rem;
  color: rgb(104, 101, 96); /* rgb(104, 101, 96); rgb(124, 118, 109); */
  letter-spacing: 0.05rem; 
  text-transform: uppercase;
}
  
#last-fig { 
  padding: 0.05rem;
  letter-spacing: 0.1rem; 
  color: var(--color0); 
}

.btns-action {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  flex-direction: row; /* column for pc */
  align-items: flex-end;
}

.btns-action .btn {
  display: flex;
  /* height: 40px; */
  width: 4rem;
  font-size: 1.1rem;
  font-family: BlackHanSans;
  letter-spacing: .05em;
  color: var(--color0);
  margin: 1.6rem;
  /* padding: .60em .55em .45em .55em; */
  padding: .60rem 1.2rem .45rem 1.2rem;
  background-color: #0000;
  border-radius: 32px;
  border: 2px solid var(--color0);
  /* transform: scale(1, 1); */
  justify-content:center;
}

#action .btn {width: 0;}
.confirm .btn {width: 62px;}

/* .confirm { position:absolute; bottom: 0; } */

.confirm .btn {
  color: var(--color1);
  background-color: var(--color0);
}

.confirm .cancel {
  color: #eed;
  background-color: #0000;
  border: 2px solid var(--color2);
}

.md-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 80%;
  width: 100%;
  background-color: #111d;
  border-top: 1px solid;
  border-top-color: #444;
  z-index: 999;
}

.md-modal .exit {
  position: absolute;
  right: 0;
  color: rgb(224, 224, 204);
  font-size: 2rem;
  font-weight: 500;
  padding: .25rem .6rem;
}

.md-modal .title {
  color: rgb(224, 224, 204);
  font-size: 1.9rem;
  font-weight: 500;
  padding: .45rem .6rem;
}

.md-modal .content {
  position: relative;
  color: rgb(224, 224, 204);
  font-size: 1.9rem;
  font-weight: 500;
  padding: .45rem .6rem;
  margin: auto;
}

.md-modal .message { font-size: 1.4em; color: #eed; margin: 0 .5em; text-align: center; }


@media screen and (min-width: 768px) {
  /* .btns-menu,  */
  .dn .btns-action {
    flex-direction: column; /* column for pc */
  }
  .dn .btns-action .btn:first-child {
    margin: .3rem 1.6rem; /* column for pc */
  }
  .dn .btns-action .btn:last-child {
    margin: .3rem 1.6rem 1.6rem 1.6rem; /* column for pc */
  }
  .confirm { justify-content: flex-end; }
}

@media screen and (min-width: 200px) {
  .lists select, .lists select:nth-child(n + 2) {
    font-size: 1rem;
  }
}

@media screen and (min-width: 276px) {
  .lists select, .lists select:nth-child(n + 2) {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 376px) {
  .lists select, .lists select:nth-child(n + 2) {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 976px) {
  .lists select, .lists select:nth-child(n + 2) {
    font-size: 2rem;
  }
}
/* .lists select:nth-last-child(n+2) ~ select:last-child{
  background-color: #fff;
} */
/* Dark-mode */
/* #create, #join-code, #join, #bid-code, #bid, #draw, #check {position: fixed; color: white; background-color: #333; width:250px;} */

body.dark-mode{
  background-color: #222;
}
.dark-mode .cards > div {
  color: #999;
  border-color: #999;
}



.visuallyhidden {opacity:0}
.hidden {display: none}

/* Google Font Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
#renderCanvas {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sidebar * {margin: 0;
  padding: 0;}
#renderUi {position: fixed;}
#renderUi * {
  /* margin: 0; */
  /* padding: 0; */
  /* position:absolute;
  width: 100%;
  height: 100%; */
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 0;
  min-width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* font-size: 22px; */
  /* transition: all 0.4s ease; */
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #0001;
  min-height: 100vh;
  top: 0;
  left: 78px;
  padding: 0.21rem;
  width: calc(100vw - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
